@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {

}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

	html{
		font-size: 8px;
	}

	.header{
		padding-top: 2em;
		.navigation{
			.toggler{
				margin-top: 3px;
				display: block;
				background: url("../img/menu-btn.png") no-repeat;
				border: none;
				width: (197px / 5);
				height: (118px / 5);
				background-size: contain;
			}
			.nav-list, .nav-item{
				display: none;
			}
		}
	}

	.footer{
		.social{
			margin-top: 3rem;
		}
	}
}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {

}
